@{
    ViewBag.Title = "Scaffold with Angular, Knockout, Backbone JavaScript";
}

<div class="page-header">
    <div class="container">
        <h1>Single Page Application Frameworks JavaScript Scaffold</h1>
        <p class="lead">Scaffold from JSON or URL's JSON returns using a popular SPA technology, generating HTML and JavaScripts, using Angularjs, Knockoutjs, Backbonejs JavaScript frameworks.</p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>KnockoutJS Scaffold</h2>
        <p>Scaffold <a href="http://knockoutjs.com/">knockoutjs</a> 2.3 based on JSON and webapi rest style</p>
        <p><a class="btn btn-info" href="/KnockoutJSScaffold">Scaffold</a></p>
    </div>
    <div class="col-md-4">
        <h2>KnockoutJS + Breeze Scaffold</h2>
        <p>Scaffold <a href="http://knockoutjs.com/">knockoutjs</a> + <a href="http://www.breezejs.com/">breeze</a> based on JSON and webapi rest style</p>
        <p><a class="btn btn-default disabled" href="/KnockoutJSScaffold">Scaffold under construction</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>AngularJS Scaffold</h2>
        <p>Scaffold <a href="http://angularjs.org/">angularjs</a> 1.08 based on JSON and webapi rest style. using jquery for data layer instead of recommended angular way.</p>
        <p><a class="btn btn-info" href="/AngularJSScaffold">Scaffold</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>BackboneJS/UnderscoreJS Scaffold</h2>
        <p>Scaffold <a href="http://backbonejs.org/">backbonejs</a> 1.1.0 and <a href="http://underscorejs.org">underscorejs</a> based on JSON and webapi rest style</p>
        <p><a class="btn btn-info" href="/BackboneUnderscoreScaffold">Scaffold</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>EmberJS Scaffold</h2>
        <p>Scaffold <a href="http://emberjs.com/">EmberJs</a> based on JSON and webapi rest style</p>
        <p><a class="btn btn-default disabled" href="/EmberJSScaffold">Scaffold under construction</a></p>
    </div>
    <div class="col-md-4">
        <h2>EmberJS + Ember-data Scaffold</h2>
        <p>Scaffold <a href="http://emberjs.com/">EmberJs + Ember-data</a> based on JSON and WebAPI REST style</p>
        <p><a class="btn btn-default disabled" href="/EmberJSScaffold">Scaffold under construction</a></p>
    </div>
</div>

<div id="share" >
    <div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://spascaffold.azurewebsites.net/" data-count="vertical">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
    <div>
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fspascaffold.azurewebsites.net&amp;send=false&amp;layout=box_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=90" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
    </div>  
    <div><div class="g-plusone" data-size="tall" data-href="http://spascaffold.azurewebsites.net/"></div></div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
}
